@import url('/fonts/baloo-2/baloo-2.css');
@import url('/fonts/fredericka-the-great/fredericka-the-great.css');

:root {
    --header-font-family: "Fredericka the Great", serif;
    --body-font-family: "Baloo 2", sans-serif;
    --base-font-size: 18px;
    --text-color: #222;
    --header-color: #444054;
    --bg-yellow: #FFD670;
    --bg-purple: #ff94d4;
    --bg-orange: #FF9770;
    --bg-blue: #92D4B3;
    --bg-green: #C3E8B0;
    --shadow-color: #444054;
    --body-background: #FCECC5;
}